body {
  #content {
    .main.menu-container {
      height: fit-content;

      .main__menu {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 32px;
        align-items: center;
        justify-items: center;

        .item {
          width: fit-content;
          display: flex;
          flex-direction: column;
          gap: 8px;
          //   background-color: rgba(0, 0, 0, 0.4);
          //   padding: 16px;

          &__description {
            font-size: 22px;
            display: flex;
            justify-content: space-between;
            color: white;
          }
          &__img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 670px) {
  body {
    //   height: fit-content !important;
    // height: fit-content;

    #content {
      //   height: fit-content !important;
      // height: fit-content;
    }
  }
}
